/* @keyframes color {
  0%   { background: #e8f4f8; }
	50%  { background: #e8f0f8; }
  100%   { background: #e8f4f8; }
} 

body {
  animation: color 9s infinite linear;
  text-align: center;
} */

h1 {
	font-family: "Roboto", sans-serif;
  font-size: 30px;
}

h2 {
	font-family: "Roboto", sans-serif;
  font-size: 20px;
	font-weight: 100;
	font-style: italic;
}

p {
	font-family: "Roboto", sans-serif;
	color: gray;
	display: inline;
	float: left;
	position: fixed;
}

a {
	font-family: "Roboto", sans-serif;
	color: black;
}

a:hover {
	color: gray;
}

li {
	display: inline;
	float: right;
	position: sticky;
}

li a {
	color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
	color: gray;
}

#github {
	width: 20px;
	height:20px;
}



