body {
	font-family: "Roboto", sans-serif;
}

a {
	color: white
}

.header {
	top: 0;
}

.title {
	margin-top: 0%;
	float: left;
	width: 82%;
	font-size: 20px;
}

ul.nav {
	list-style: none;
}

ul.nav li {
	display: inline-block;
	margin-left: 1%;
}

.project {
	margin-bottom: 2.5%;
	display: inline-block;
	width: 50%;
	overflow: visible;
	margin-top: 5%;
	left: 25%;
	transition: 1s;
	position: relative;
}

.project:hover {
	transform: scale(1.1);
	box-shadow: 0px 35px rgba(0, 0, 0, 0.05);
}

.name {
	margin-left: 58%;
	margin-bottom: -3%;
	animation: fade-in 1s ease-in;
}

.description {
	float: right;
	animation: fade-in 4s ease-in;
}

.preview {
	display: flex;
	float: left;
	animation: fade-in 1s ease-in;
}

p {
	font-size: 13px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 100;
	}
}

@keyframes scale-in {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}




